body {
}

.nav {
 width: 100%;
 background: #505d60;
 margin-bottom: 2em;
 color: white;
 font-weight: bold;
}

.nav a {
 color: white;
}

.nav > div {
 padding: 1em;
 display: inline-block;
}

.nav .selected a,
.nav .selected {
 background: white;
 color: #505d60;
}

h1 {
 text-align: center;
}

table {
 width: 100%;
 border: 1px solid #E6E7E8;
 border-collapse: collapse;
 margin: 1em 0;
}

td, th {
 padding: 0.2em 0.5em;
}

th {
 border-bottom: 1px solid gray;
}

.TableHeadingColor {
 background: #505d60;
 text-align: left;
 color: white;
}

.TableRowColor {
 border: 1px solid #E6E7E8;
}

.type-parameter {
 font-style: italic;
}

ul.inheritance li {
 list-style: none;
}

ul.inheritance {
 padding-left: 0px;
}

ul.inheritance ul.inheritance {
 padding-left: 20px;
}

ul.inheritance ul.inheritance li:before {
 content: "\2514";
 display: inline;
}

