body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

body,
a:visited {
 color: #535353;
}

a {
 color: #4b5c78;
}

.nav,
.TableHeadingColor th {
 background: #1a3c3d; /* Old browsers */
 background: -moz-linear-gradient(top, #1a3c3d 0%, #2c6768 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a3c3d), color-stop(100%,#2c6768)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #1a3c3d 0%,#2c6768 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #1a3c3d 0%,#2c6768 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, #1a3c3d 0%,#2c6768 100%); /* IE10+ */
 background: linear-gradient(top, #1a3c3d 0%,#2c6768 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a3c3d', endColorstr='#2c6768',GradientType=0 ); /* IE6-9 */
}

.TableHeadingColor th {
 -webkit-border-top-left-radius: 5px;
 -webkit-border-top-right-radius: 5px;
 -moz-border-radius-topleft: 5px;
 -moz-border-radius-topright: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
 -webkit-border-bottom-left-radius: 5px;
 -moz-border-radius-bottomleft: 5px;
 border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
 -webkit-border-bottom-right-radius: 5px;
 -moz-border-radius-bottomright: 5px;
 border-bottom-right-radius: 5px;
}

.nav,
table {
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -moz-box-shadow: 5px 5px 5px #ccc;
 -webkit-box-shadow: 5px 5px 5px #ccc;
 box-shadow: 5px 5px 5px #ccc;
}

.nav {
 width: 100%;
 margin-bottom: 2em;
 color: white;
 font-weight: bold;
}

.nav a {
 color: white;
}

.nav > div {
 padding: 1em;
 display: inline-block;
}

.nav .selected a,
.nav .selected {
 background: white;
 color: #535353;
}

.submenu {
 text-align: center;
}

.submenu > div {
 display: inline-block;
 margin: 0.3em 0.5em;
}

h1 {
 text-align: center;
}

table {
 width: 100%;
 border-collapse: collapse;
 margin: 1em 0;
}

td, th, .collapsible .short {
 padding: 0.2em 0.5em;
}

th {
 border-bottom: 1px solid gray;
}

.TableHeadingColor {
 text-align: left;
 color: white;
}

.TableRowColor {
 border-bottom: 1px solid #E6E7E8;
}

.TableRowColor:last-child {
 border-bottom: none;
}

.type-parameter {
 font-style: italic;
}

ul.inheritance li {
 list-style: none;
}

ul.inheritance {
 padding-left: 0px;
}

ul.inheritance ul.inheritance {
 padding-left: 20px;
}

ul.inheritance ul.inheritance li:before {
 content: "\2514";
 display: inline;
}

.long {
 display: none;
}

.category tr.more,
.collapsible {
 cursor: pointer;
 background: #DDD;
}

.category tr.more:hover,
.collapsible.more:hover {
 background: #FFA;
}

.collapsible .short {
 font-weight: bold;
}

.source-code {
 float: right;
 font-size: small;
}

#results .match {
 margin: 0.5em 1em;
 padding: 0.5em 1em;
 border-top: 1px solid gray;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

#results .type {
 float: right;
}

#results .highlight {
 background: Highlight;
 color: HighlightText;
}

#results .selected {
 background: #C7D8D8;
}

#search {
 text-align: center;
}

.accesskey {
 color: #bbb;
}