
[test]
two=dos
string-hello=hello
string-world=world
string-spaces=" with spaces   "
string-escapes=\"\\
string-multiline=aap\nnoot\nmies
string-multiline-with-spaces=aap\nnoot\nmies
string-quoted-multiline=aap\nnoot\nmies
quasar=PKS 1127-145
pulsar=CP 1919
string-escapes2="\n\t\"\\# "


[test.section "Aap"]
foo=1

[test.section "Mies"]
foo=3
fooz=33

[test.section "Noot"]
foo=2
