#
# Ceylon Configuration Parser test file
#

[test]
one=uno
two=twee
string-hello=hola; a comment
string-world=mundo           # a comment
string-spaces=" con espacios   " ; a more "complex/difficult" comment; maybe? ###
string-escapes="\"\\" ; a comment
string-multiline=wim\nzus\njet ; a comment
string-multiline-with-spaces=wim\nzus\njet         ; a comment
string-quoted-multiline="wim\nzus\njet "    ; a comment
three=tres

[test.multiple]
strings=wim
strings=zus

[test.section "Aap"]
foo=1
foo=2
foo=3


[test.section "Mies"]
bar=test1
bar=test2

[anothersection]
buzz=lightyear

[test "newsection"]
baz=qed
baz=qam
