##
## The default keystore is a keystore section without a name
##
[keystore]
# The keystore file.
# If a relative file, then relative to the config dir
# Default is "keystore".
file=foofile

##
## Alternatively you can have a named keystore
##
[keystore "bar"]
file=barfile

# The type of the KeyStore implementation. Default is jceks
store-type=jceks

# The provider of the KeyStore implementation. Default is SunJCE
store-provider=SunJCE

# The algorithm for the SecretKeyFactory. Default is PBEWithMD5AndDES
key-factory-algo=PBEWithMD5AndDES

# The provider for the SecretKeyFactory implementation. Default is SunJCE
key-factory-provider=SunJCE

##
## Example of a repository where we the just use the configured plain text password
##
[repository "repo-with-plaintext"]
url=http://modules.ceylon-lang.org
user=bar
password=plaintext

##
## Example of a repository where we prompt the user for a password
##
[repository "repo-with-prompted"]
url=http://modules.ceylon-lang.org
user=bar

##
## Example of a repository where we look for the password in the default keystore
##
[repository "repo-with-keystorefoo"]
url=http://modules.ceylon-lang.org
user=bar
# Look in the default (unnamed) [keystore] section
password-alias=fooalias

##
## Example of a repository where we look for the password in a named keystore 
##
[repository "repo-with-keystorebar"]
url=http://modules.ceylon-lang.org
user=bar
# Use the [keystore "bar"] section
password-keystore=bar
# The alias within the specified keystore of the password
password-alias=baralias
