##
## The default keystore is a keystore section without a name
##
[keystore]
# The keystore file.
# If a relative file, then relative to the config dir
# Default is "keystore".
file=foofile

##
## Alternatively you can have a named keystore
##
[keystore "bar"]
file=barfile

# The type of the KeyStore implementation. Default is jceks
store-type=jceks

# The provider of the KeyStore implementation. Default is SunJCE
store-provider=SunJCE

# The algorithm for the SecretKeyFactory. Default is PBEWithMD5AndDES
key-factory-algo=PBEWithMD5AndDES

# The provider for the SecretKeyFactory implementation. Default is SunJCE
key-factory-provider=SunJCE

##
##
##
[keystore "unprotected"]
file=unprotectedks