#
# Ceylon Configuration Parser test file
#

[repository "One"]
url=foobar

[repository "Two"]
url=foobar
user=pietjepluk
password=noencryptionfornow!

[repository "Three"]
url=foobar

[repository "Four"]
url=foobar

[repositories]
system=+One
output=+Two
cache=+Three
lookup=+Two
lookup=+Three
lookup=+Four
lookup=foobar
remote=+Four
remote=foobar
other=+Four
other=foobar