#
# Ceylon Configuration Parser test file
#

[test] ; All the basic option possibilities
string-hello=hello
string-world =   world           
string-spaces=    " with spaces   "
string-escapes="\"\\"
string-multiline=aap\
noot\
mies
string-multiline-with-spaces=   aap\
noot\
mies        
string-quoted-multiline=    "aap\
noot\
mies"   
boolean-true=true
boolean-false-with-spaces=  false        
boolean-on = on
boolean-off=off
boolean-yes=yes
boolean-no=no
boolean-1=1
boolean-0=0
boolean-implicit-true
number=42
number-with-spaces=      123   
currentdir-simple=${DIR}
currentdir-extra=${DIR}/with/extra/path
currentdir-fake=before/${DIR}
userdir=${USER_DIR}
systemdir=${SYSTEM_DIR}
ceylonhome=${CEYLON_HOME}
installdir=${INSTALL_DIR}

[test.commented] ; The same as before but now with comments
string-hello=hello; a comment
string-world =   world           # a comment
string-spaces=    " with spaces   " ; a more "complex/difficult" comment; maybe? ###
string-escapes="\"\\" ; a comment
string-multiline=aap\
noot\
mies ; a comment
string-multiline-with-spaces=   aap\
noot\
mies         ; a comment
string-quoted-multiline=    "aap\
noot\
mies"    ; a comment
boolean-true=true ; a comment
boolean-false-with-spaces=  false     ; a comment    
boolean-on = on ; a comment
boolean-off=off ; a comment
boolean-yes=yes ; a comment
boolean-no=no ; a comment
boolean-1=1 ; a comment
boolean-0=0 ; a comment
boolean-implicit-true ; a comment
number=42 ; a comment
number-with-spaces=      123    ; a comment

[test.multiple]
strings=aap
strings=noot
strings=mies

[test.section "Aap"]
foo=1

[test.section "Noot"]
foo=2

[test.section "Mies"]
foo=3
fooz=33
