
[test]
string-quoted-multiline=aap\nnoot\nmies
quasar=PKS 1127-145
string-multiline-with-spaces=aap\nnoot\nmies
string-escapes=\"\\
two=dos
string-spaces=" with spaces   "
string-hello=hello
string-multiline=aap\nnoot\nmies
one=uno
string-world=world
pulsar=CP 1919

[test "multiple"]
strings=aap
strings=noot
strings=mies

[test.section "Aap"]
foo=1

[test.section "Mies"]
foo=3
fooz=33

[test.section "Noot"]
foo=2
