#
# Ceylon Configuration Parser test file
#

[test]
one=uno
two=dos
string-hello=hello; a comment
string-world =   world           # a comment
string-spaces=    " with spaces   " ; a more "complex/difficult" comment; maybe? ###
string-escapes="\"\\" ; a comment
string-multiline=aap\
noot\
mies ; a comment
string-multiline-with-spaces=   aap\
noot\
mies         ; a comment
string-quoted-multiline=    "aap\
noot\
mies"    ; a comment

[test.multiple]
strings=aap
strings=noot
strings=mies

[test.section "Aap"]
foo=1

[test.section "Noot"]
foo=2

[test.section "Mies"]
foo=3
fooz=33
